body {
  /* max-width: 1300px; */
  margin: 0 auto;
  padding: 0;
  background: lightsteelblue;
}

.contact-p {

  font-size: 14px;
  /* letter-spacing: 1px; */
}

.nav {}

.navbar-brand {
  padding: 5px;
}

.nav-link-donate {
  border: 1px solid red;
  margin: 4px;
  padding: 3px;
  border-radius: 5px;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
}

#about-section {
  text-align: justify;
  margin-bottom: 70px;
}

#about-section p:not(.card-text) {
  padding: 30px 0;
}

.card {}


/* DONATIONS CONTAINER */
#donations-container {
  letter-spacing: 1px;
}

#donations-container button {
  letter-spacing: 1px;
}

#progress-section {
  /* margin-top: 150px; */
  margin-bottom: 70px;
}

.progress {
  height: 30px;
  margin: 5px;
}

#help-section {
  margin-bottom: 70px;
}

#photo-row-section {
  margin-bottom: 70px;
}

#news-section {
  margin-bottom: 150px;
}

#news-section .card {
  /* border: none; */

}

#news-section .card-footer {
  font-size: 14px;
}

#form-section {
  margin-bottom: 150px;
}

textarea {
  resize: none;
}