body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.nav {
}

.navbar-brand {
  padding: 5px;
}
.donate {
  border: 1px solid red;
  margin: 4px;
  padding: 3px;
  border-radius: 5px;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
}

#story {
  text-align: justify;
}
