body {
  /* max-width: 1300px; */
  margin: 0 auto;
  padding: 0;
}

.nav {}

.navbar-brand {
  padding: 5px;
}

.donate {
  border: 1px solid red;
  margin: 4px;
  padding: 3px;
  border-radius: 5px;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
}

#about-section {
  text-align: justify;
  margin-bottom: 70px;
}

#about-section p:not(.card-text) {
  padding: 30px 0;
}

.card {}


#progress-section {
  /* margin-top: 150px; */
  margin-bottom: 70px;
}

.progress {
  height: 30px;
  margin: 5px;
}

#help-section {
  margin-bottom: 70px;
}